{% extends 'base.html' %}

{% block title %}Privacy Policy{% endblock %}
{% block meta %}This is meta description for Privacy Policy page{% endblock %}
{% block keywords %}keyword 1, keyword 2, keyword 3{% endblock %}
<!--
  As a general guideline, it's recommended to include 5-10 relevant and specific keywords 
  in the keywords meta tag, focusing on the main topics and themes of the page. 
  Avoid using generic or broad keywords that may not accurately represent the content of the page, 
  and don't stuff the tag with too many keywords, 
  as this can be seen as spammy and may have a negative impact on your SEO.
-->

{% block og_title %}Privacy Policy{% endblock %}
{% block og_meta %}This is meta description for Privacy Policy page{% endblock %}
{% block og_image %}{{ url_for('static', filename='images/thumbnails/my-image.jpg', _external=True) }}{% endblock %}
{% block og_url %}{{ url_for('privacypolicy', _external=True) }}{% endblock %}
{% block og_type %}website{% endblock %}
<!--
The most common Open Graph object types are:

website: A generic website or webpage
article: A news article, blog post, or other written content
blog: A blog or weblog
book: A book or publication
profile: A person's profile or account on a social network
music.song: A musical composition or song
music.album: A collection of musical compositions or songs
music.playlist: A collection of musical compositions or songs in a specific order
video.movie: A motion picture or video
video.tv_show: A television show or series
-->

{% block robots %}index, follow{% endblock %} <!-- choices: index, noindex, follow, nofollow-->
{% block author %}Bong Mean{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center">Privacy Policy</h1>
  <hr class="my-4">
 
  <p>This privacy notice for ProfitMacin.com (“Company, e,” “us,” or “our“), describes how and why we might collect, store, use, and/or share (“process“) your information when you use our services (“Services“).</p>

  <p>If you opt to utilize our Service, you are thereby consenting to the collection and use of information in accordance with this Privacy Policy. The Personal Information we gather is utilized to deliver and improve the Service, and we pledge not to utilize or divulge your information to any third party except as explicitly specified in this Privacy Policy.<p>

  <section>
  <h2>Information Collection and Use</h2>
  <p>We place significant importance on your privacy and are committed to safeguarding it. We may gather information through the use of cookies or weblogs. This data is collected to personalize our services and enhance customer satisfaction.</p>
  <p><strong>The information we collect may include:</strong></p>
  </section>

  <section>
  <h3>Log Data</h3>
  <p>We would like to inform you that whenever you access our Service, we collect a type of information known as Log Data, which is transmitted to us by your browser. This Log Data may consist of details such as your computer's Internet Protocol ("IP") address, browser version, the pages of our Service that you visit, the date and time of your visit, the duration of your stay on those pages, and other statistical information.</p>
  </section>

  <section>
  <h3>Cookies and Third-Party Advertising</h3>
  <p>Cookies refer to files that contain a small amount of data that are often used as anonymous unique identifiers. These are transmitted to your browser by the website you visit and are saved on your computer's hard drive.</p>

  <p>Our website utilizes "cookies" to gather information and enhance our Service. You may opt to accept or reject these cookies, and receive notifications when a cookie is being transmitted to your computer. However, refusing our cookies may impede your ability to use certain features of our Service.</p>

  <p>We enable third-party companies to serve advertisements and/or obtain specific anonymous information whenever you visit our website. These companies may use non-personally identifiable data (such as click stream information, browser type, date and time, and advertisements clicked or scrolled over) during your visits to our website and other similar sites to promote goods and services that may be of greater interest to you. These companies usually utilize a cookie or a third-party web beacon to collect such data. For more information about this behavioral advertising practice or to opt-out of this type of advertising, please visit <a href="https://optout.networkadvertising.org" target="_blank">optout.networkadvertising.org</a>.</p>
  </section>

  <section>
  <h3>Web Forms on Our Site</h3>
  <p>The web forms you complete and submit on our site provide the necessary input for the calculators and our tools to operate accurately.</p>
  </section>

  <section>
  <h3>Security</h3>
  <p>At our organization, we highly esteem the trust you place in us by providing your Personal Information. We are committed to implementing commercially reasonable measures to safeguard your information. However, it's important to note that no method of transmission over the internet, or electronic storage is entirely secure and reliable, and we are unable to guarantee its absolute security.</p>
  </section>

  <section>
  <h3>Sharing Data with Third-Party Services</h3>
  <p>We may share your personal information with third-party services or partners to provide you with better services or promotions. We ensure that any third-party service or partner we work with complies with data protection regulations and privacy policies similar to ours.</p>

  <p>We may share non-personally identifiable information with third-party services or partners for the purpose of promoting goods and services that may be of interest to you. We will not share your personally identifiable information with third-party services or partners without your explicit consent or as required by law.</p>

  <p>If you don't want your personal information shared with third-party services or partners, you can opt-out by contacting us using the details provided in the "Contact Information" section of this policy.
  Please review the privacy policies and practices of any third-party services or partners before sharing any personal information with them.</p>
  </section>

  <section>
  <h3>Retention of Data</h3>
  <p>We keep your personal data only for as long as necessary to provide our services or as required by law. We will retain your personal information for as long as your account is active, and as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.</p>

  <p>If you want your personal information removed from our database, please contact us using the details provided in the "Contact Information" section of this policy. We will respond to your request within a reasonable time frame and in accordance with applicable laws and regulations.</p>
  </section>

  <section>
  <h3>Links to Other Sites</h3>
  <p>Our Service may incorporate links to other websites. In the event that you click on a third-party link, you will be directed to that particular site. Please be aware that these external sites are not under our jurisdiction. As a result, we highly recommend that you thoroughly review the Privacy Policy of these websites. We cannot control or assume responsibility for the content, privacy policies, or practices of any third-party sites or services.</p>
  </section>

  <section>
  <h3>Children's Privacy</h3>
  <p>Our Services are not intended for individuals below the age of 13. We do not purposely gather personally identifiable information from children under 13 years old. In the event that we become aware that a child under 13 years old has submitted personal information to us, we promptly delete this data from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us immediately so that we can take appropriate measures.</p>
  </section>

  <section>
  <h3>Data Subject Rights</h3>
  <p>You have certain rights regarding your personal information that we collect and process. These rights include:</p>
  <ul>
    <li><strong>Right to access:</strong> You have the right to access and request a copy of your personal information that we have collected.</li>
    <li><strong>Right to rectification:</strong> You have the right to request that any inaccurate or incomplete personal information we have about you be corrected or updated.</li>
    <li><strong>Right to erasure:</strong> You have the right to request the deletion of your personal information, subject to certain exceptions such as legal or regulatory requirements.</li>
    <li><strong>Right to restrict processing:</strong> You have the right to request that we restrict the processing of your personal information in certain circumstances, such as if you contest the accuracy of the data.</li>
    <li><strong>Right to object:</strong> You have the right to object to the processing of your personal information in certain circumstances, such as if the data is being processed for direct marketing purposes.</li>
    <li><strong>Right to data portability:</strong> You have the right to receive a copy of your personal information in a structured, commonly used, and machine-readable format, and to transmit that data to another data controller.</li>
  </ul>
  <p>If you wish to exercise any of these rights, please contact us using the details provided in the "Contact Information" section of this policy. We will respond to your request within a reasonable time frame and in accordance with applicable laws and regulations.</p>
  </section>

  <section>
  <h3>Contact Information</h3>
  <p>If you have any questions or concerns about our Privacy Policy, or if you wish to exercise any of your data subject rights, please contact us using the following details:</p>

  <p><strong>Email: </strong><a href="mailto:contact@profitmacin.com">contact@profitmacin.com</a><br>You can also use our contact form on this <a href="/contact">contact page</a>.<p>

  <p><strong>Postal Mail:</strong></p>
  <p>6A National, Phumi Jongkausoo, Sangkat Slorgram<br>Siem Reap City, Siem Reap Province<br>Cambodia</p>

  <p>We take all privacy-related inquiries seriously and will make every effort to respond to your request within a reasonable time frame and in accordance with applicable laws and regulations.</p>
  </section>

  <section>
  <h3>Changes to This Privacy Policy</h3>
  <p>We retain the right to modify this Privacy Policy with or without notification. Consequently, we suggest that you review this page periodically for any revisions. We will alert you of any changes by publishing the updated Privacy Policy on this page. These changes become effective immediately upon being posted on this page.</p>
  </section>

  <p><strong>Updated on:</strong><i> April 2, 2023</i></p>




    
  
</div>





{% endblock %}
