{% extends 'base.html' %}
{% block schema %}<script type="application/ld+json">{{ schema_markup | tojson | safe }}</script>{% endblock %}

{% block title %}Terms of Use{% endblock %}
{% block meta %}Profit Macin's terms of use outline the conditions and agreements users must follow when accessing our website.{% endblock %}
{% block keywords %}terms of use, user agreement, legal agreement, website use, acceptable use policy{% endblock %}
<!--
  As a general guideline, it's recommended to include 5-10 relevant and specific keywords 
  in the keywords meta tag, focusing on the main topics and themes of the page. 
  Avoid using generic or broad keywords that may not accurately represent the content of the page, 
  and don't stuff the tag with too many keywords, 
  as this can be seen as spammy and may have a negative impact on your SEO.
-->

{% block og_title %}Terms of Use{% endblock %}
{% block og_meta %}Profit Macin's terms of use outline the conditions and agreements users must follow when accessing our website.{% endblock %}
{% block og_image %}{{ url_for('static', filename='images/thumbnails/profitmacin-terms-of-use-cover.jpg', _external=True) }}{% endblock %}
{% block og_url %}{{ url_for('terms', _external=True) }}{% endblock %}
{% block og_type %}website{% endblock %}
<!--
The most common Open Graph object types are:

website: A generic website or webpage
article: A news article, blog post, or other written content
blog: A blog or weblog
book: A book or publication
profile: A person's profile or account on a social network
music.song: A musical composition or song
music.album: A collection of musical compositions or songs
music.playlist: A collection of musical compositions or songs in a specific order
video.movie: A motion picture or video
video.tv_show: A television show or series
-->

{% block robots %}index, follow{% endblock %} <!-- choices: index, noindex, follow, nofollow-->
{% block author %}Profit Macin{% endblock %}

{% block content %}
<div class="container">
  <h1>Terms of Use</h1>
  {{ breadcrumb | safe }}  <!-- Use the breadcrumb variable here -->
  <hr class="my-4">
 
  <section>
    <h3>ACCEPTANCE OF TERMS</h3>
    <p>By accessing and using <strong>ProfitMacin.com ("Site", "Website")</strong>, you agree to be bound by the following terms and conditions ("Terms of Use"). These Terms of Use constitute a legally binding agreement between you (whether personally or on behalf of an entity) and <strong>ProfitMacin.com ("Company," "we," "us," or "our")</strong> regarding your use of the Site, including any other media forms, media channels, mobile websites, or mobile applications related, linked, or otherwise connected to the Site.</p>
    
    <p>Please carefully read these Terms of Use before accessing or using the Site. If you do not agree to all of the terms and conditions contained in these Terms of Use, you must immediately discontinue use of the Site.</p>
    
    <p>By accessing and using the Site, you acknowledge and agree that you have read, understood, and agree to be bound by all of these Terms of Use, which may be updated by us from time to time without prior notice to you. Your continued use of the Site following any such updates constitutes your acceptance of the updated Terms of Use.</p>
    
    <p>If you are accessing or using the Site on behalf of an entity, you represent and warrant that you have the authority to bind that entity to these Terms of Use and that such entity agrees to be bound by these Terms of Use. If you do not have such authority or if such entity does not agree to be bound by these Terms of Use, you must not access or use the Site.</p>
    </section>
    
    <section>
    <h3>CHANGES TO TERMS OF USE</h3>
    
    <p>We reserves the right to modify, amend, or alter these Terms of Use at any time and without prior notice to you. Any changes or updates to these Terms of Use shall become effective immediately upon their posting on the Site. You can access the most current version of these Terms of Use by clicking on the link located in the footer of the Website.</p>
    
    <p>It is your responsibility to regularly review these Terms of Use to keep yourself informed of any changes or updates. Your continued use of the Site after any modifications, amendments, or alterations to these Terms of Use shall constitute your acceptance of such changes. If you do not agree with any changes to these Terms of Use, you must immediately discontinue your use of the Site.</p>
    <section>
    
    <section>
    <h3>USER CONDUCT</h3>
    <p>By using our website, you agree to abide by the following rules of conduct. You agree not to post, upload, transmit, distribute, or otherwise make available any Content or use the Website in any manner that:</p>
    
    <ul>
    <li>infringes on any patent, trademark, trade secret, copyright, or other proprietary rights of any party;</li>
    <li>violates any local, state, federal, or international law or regulation;</li>
    <li>threatens, harasses, defames, or is libelous;</li>
    <li>is harmful to minors;</li>
    <li>contains unsolicited advertising or marketing material in public areas of the Website that have not been authorized and are not designated for promotional content;</li>
    <li>introduces software viruses or code that could be harmful to other computers or users of the Website;</li>
    <li>disrupts the normal dialogue or communication among users of the Website;</li>
    <li>provides misleading or false information;</li>
    <li>uses forged headers or other means to disguise the origin of any Content.</li>
    </ul>
    
    <p>You agree not to attempt to decompile, reverse engineer, or otherwise discover the source code of the Website or any part of it.</p>
    
    <p>You agree not to reproduce, duplicate, copy, sell, resell, or exploit any aspect of the Website for any commercial purposes without explicit permission. However, any registered business that purchases advertising or other services from the Website ("Customer") has the right to manage their listings or purchased advertising or other services to their commercial benefit, as long as they adhere to the conduct rules above.</p>
    </section>
    
    <section>
    <h3>PRIVACY POLICY</h3>
    
    <p>We take your privacy seriously. Please refer to our <a href="/privacy-policy">Privacy Policy</a> for more information on how we collect, use, and disclose your personally identifiable information, and for details on other privacy matters related to the use of website.</p>
    
    <p>By using the Website, you agree to our Privacy Policy and these Terms of Use. If you do not agree to our Privacy Policy or these Terms of Use, please do not use the Website.</p>
    </section>
    
    <section>
    <h3>CONTENT DISCLAIMER</h3>
    
    <p><strong>ProftiMacin.com ("Website")</strong> and some of the Content on the Website may contain links to other resources on the Internet. These links are provided solely as aids to assist you in identifying and locating other Internet resources that may be of interest to you. The presence of such links does not imply that the Company sponsors, endorses, is affiliated or associated with, or is legally authorized to use any trade name, registered trademark, logo, legal or official seal, or copyrighted symbol that may be reflected in said links.</p>
    
    <p>Please note that information or calculation results on the Website may be outdated or inaccurate due to the date and method of their collection. If you discover any information or calculation results on the Website that you believe to be in error, please contact us with the specifics, and we will investigate the matter. We will update the information where permitted by our data source.</p>
    </section>
    
    <section>
    <h3>LIMITATIONS AND TERMINATION</h3>
    
    <p>The Company reserves the right to impose limitations on your use of <strong>ProftiMacin.com ("Website")</strong>, including, but not limited to, the frequency of your access to the Website. These limitations may include terminating your access to the Website. You agree that the Company may, at its sole discretion and with or without prior notice, modify or discontinue the Website or any part thereof.</p>
    
    <p>The Company shall not be liable to you or any third party for any modifications, suspensions, or discontinuations of the Website or any part thereof. In the event of any termination of your access to the Website, the terms of these Terms of Use shall continue to apply in perpetuity.</p>
    </section>
    
    <section>
    <h3>WARRANTY DISCLAIMER</h3>
    
    <p>THE WEBSITE AND ITS SERVICES ARE PROVIDED "AS IS" AND WITHOUT ANY WARRANTY, WHETHER EXPRESS OR IMPLIED. YOUR USE OF THE WEBSITE IS AT YOUR OWN RISK. THE COMPANY DOES NOT GUARANTEE THAT THE WEBSITE WILL BE UNINTERRUPTED OR ERROR-FREE. YOU ACKNOWLEDGE THAT THE USE OF THE WEBSITE IS SOLELY AT YOUR OWN RISK AND THE COMPANY SHALL NOT BE LIABLE FOR ANY DAMAGES ARISING FROM YOUR USE OF THE WEBSITE.</p>
    
    </section>
    
    <section>
    <h3>LIABILITY LIMITATIONS</h3>
    <p>THE COMPANY IS NOT LIABLE FOR ANY DIRECT OR INDIRECT DAMAGES ARISING FROM YOUR USE OF PROFITMACIN.COM ("WEBSITE"), INCLUDING BUT NOT LIMITED TO DAMAGES FROM YOUR INABILITY TO USE THE WEBSITE, OR THE INTERRUPTION, MODIFICATION, OR TERMINATION OF THE WEBSITE OR ANY SERVICE OR PART THEREOF. THESE LIMITATIONS OF LIABILITY ARE FUNDAMENTAL ELEMENTS OF THESE TERMS OF USE.</p>
    </section>
    
    <section>
    <h3>INDEMNIFICATION</h3>
    <p>You agree to indemnify and hold harmless the Company from any claims, damages, or demands, including reasonable attorneys' fees, arising from your use of the Website and your violation of these Terms of Use. The Company may assume exclusive defense and control of any matter subject to indemnification by you.</p>
    </section>
    
    <section>
    <h3>JURISDICTION</h3>
    
    <p>These Terms of Use shall be governed by and construed in accordance with the laws of the State of Texas, without regard to its conflict of law provisions. You and the Company agree to submit to the personal and exclusive jurisdiction of the courts located within the State of Texas.</p>
    </section>
    
    <section>
    <h3>PARTIAL INVALIDITY</h3>
    
    <p>If any provision of these Terms of Use is found to be invalid or unenforceable by any court in any jurisdiction, it shall not affect the validity or enforceability of the provision in other jurisdictions, nor shall it affect the validity or enforceability of the remaining provisions.</p>
    
    <p>The waiver or failure of the Company to exercise any right provided for in these Terms of Use shall not be deemed a waiver of any further right under this Agreement.</p>
    </section>
    
    <section>
    <h3>VIOLATION OF TERMS</h3>
    
    <p>If you breach any of these Terms of Use, the Company may seek injunctive or equitable relief in addition to any other rights or remedies available to it under the law. You acknowledge that monetary damages may not be a sufficient remedy for any such breach. Any relief granted by a court of competent jurisdiction shall be deemed proper.<p>
    </section>
    
    <section>
    <h3>GENERAL</h3>
    
    <p>These Terms of Use constitute the entire agreement between you and the Company, governing your use of ProfitMacin.com ("Website"). These Terms of Use supersede any prior agreements between you and the Company.</p>
    </section>
    
    <section>
    <h3>CONTACT INFORMATION</h3>
    
    If you have any questions or concerns about these Terms of Use or the Website, you may contact us at:
    
    <p><strong>Email: </strong><a href="mailto:contact@profitmacin.com">contact@profitmacin.com</a><br>You can also use our contact form on this <a href="/contact">contact page</a>.<p>
    
      <p><strong>Postal Mail:</strong></p>
      <p>6A National, Phumi Jongkausoo, Sangkat Slorgram<br>Siem Reap City, Siem Reap Province<br>Cambodia</p>
    
    <p>Please note that we may not respond to all inquiries, and we reserve the right to prioritize inquiries at our discretion.</p>
    </section>
    
    <p><strong>Updated on:</strong><i> April 2, 2023</i></p>
    



    
  
</div>





{% endblock %}
