.navbar {
    height: 75px;
    max-width: none;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.container-fluid {
    max-width: 1280px;
}

.container {
    max-width: 1080px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-link {
    font-size: 17px;
    color: #000;
}

.nav-link:hover {
    color: #000 !important;
}

.nav-item:not(:last-child) {
    margin-right: 15px;
}

.navbar-brand {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 28px;
}

.menu-bold{
    font-weight: 500;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
}

.btn-nav {
    background: #1992d4;
    color: #fff;
    font-weight: 500;
}

.btn-nav:hover {
    color: #facc15;
}


footer {
    background-color: #222;
    color: #fff;
    padding: 20px
    
    
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #facc15;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.footer-logo span {
    color: #d96704;
    font-weight: bold;
}
footer {
    background-color: #333;
    color: #ccc;
    padding: 28px 12px;
    text-align: center;
}

.col-md-4.my-3 i {
    color: #1992d4;
}

.bg-light.rounded-lg.py-3 {
    border: 1px solid #ccc;
}

.bg-light.rounded-lg.py-3:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.bg-light.rounded-lg.py-3:hover i {
    color: #d96704;
}

.bg-light-grey {
      background-color: #F8F9FA;
}

.bg-orange {
    background-color: #d96704;
}

.button-calc {
    background-color: #C7A04F;
    font-weight: bold;
}

.cost-amount, .revenue-amount, .profit-amount, .margin-amount {
    font-size: 24px;
}

.color-1-organge {
    color: #d96704;
}

.color-2-blue {
    color: #1992D4;
}

.color-3-yellow {
    color: #FACC15;
}

.color-4-green {
    color: #55B457;
}

.color-5-gold {
    color: #C7A04F;
}

.button-calc:hover {
    background-color: #d9ad51; /* Gold color */
}

.footer-link {
    font-weight: 500;
    color: #ccc;
    
}

.footer-social {
    display: inline-block;
    margin-right: 0px;
    font-size: 24px; /* increase the font size of the icon */
    line-height: 1; /* set the line-height to 1 to remove any extra spacing */
    padding: 10px; /* add some padding to create space around the icon */
  }
  
  
.row.align-items-center {
    height: 100%;
  }
  
  @media screen and (min-width: 992px) {
    .row.align-items-center {
      display: flex;
    }
  }
  
  .col-lg-6 {
    height: 100%;
  }
  
  
  .footer-dash {
    color: #fff;
  }


  footer {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  

/* Style for headings */
h2,h3,h4,h5,h6 {

    line-height: 1.2;
    margin-top: 1.2em; /* Use a larger margin-top for headings */
    margin-bottom: 20px; /* Use a smaller margin-bottom for headings */
  }
  
  /* Style for paragraphs */
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 24px; /* Use a consistent margin-bottom for paragraphs */
  }
  
  .svg-icon {
    max-width: 30%; 
    height: auto;
  }

  .card-title {
    margin-top: 0;
  }

  .no-title-margin .card-title {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .list-group-item-action{
    color: #000;
    font-size: 17px;
    font-weight: 400;
  }

  .list-group-item-action:hover {
    color: #d96704;
  }

  .modal-title {
    margin-top: 0;
  }


  .breadcrumb {
    padding: .21rem 1rem;
    
  }

    /* Set the color of the inactive breadcrumb links to red when hovered */
    .breadcrumb .breadcrumb-item a:hover {
        color:#d96704 !important;
        text-decoration: none;
    }
    
    /* Set the color of the active breadcrumb link to black */
    .breadcrumb .breadcrumb-item.active {
        color: black;
    }

    .homepage-h2 {
        margin-top: 4rem;
    }

  