{% extends 'base.html' %}

{% block title %}Business Tools{% endblock %}
{% block meta %}This is meta description for Business Tools page{% endblock %}
{% block keywords %}keyword 1, keyword 2, keyword 3{% endblock %}
<!--
  As a general guideline, it's recommended to include 5-10 relevant and specific keywords 
  in the keywords meta tag, focusing on the main topics and themes of the page. 
  Avoid using generic or broad keywords that may not accurately represent the content of the page, 
  and don't stuff the tag with too many keywords, 
  as this can be seen as spammy and may have a negative impact on your SEO.
-->

{% block og_title %}Business Tools{% endblock %}
{% block og_meta %}This is meta description for Business Tools page{% endblock %}
{% block og_image %}{{ url_for('static', filename='images/thumbnails/my-image.jpg', _external=True) }}{% endblock %}
{% block og_url %}{{ url_for('businesstools', _external=True) }}{% endblock %}
{% block og_type %}website{% endblock %}
<!--
The most common Open Graph object types are:

website: A generic website or webpage
article: A news article, blog post, or other written content
blog: A blog or weblog
book: A book or publication
profile: A person's profile or account on a social network
music.song: A musical composition or song
music.album: A collection of musical compositions or songs
music.playlist: A collection of musical compositions or songs in a specific order
video.movie: A motion picture or video
video.tv_show: A television show or series
-->

{% block robots %}index, follow{% endblock %} <!-- choices: index, noindex, follow, nofollow-->
{% block author %}Bong Mean{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Free Business Online Tools</h1>
        <hr class="my-4">

        <p>Introducing our "Business Tools" page, the ultimate destination for all your business analysis and decision-making needs. Explore our wide range of calculators and tools to help you make informed decisions and steer your business towards success.
        </p>

        <div class="row">

          <div class="col-md-4 my-3">
            <a href="{{ url_for('breakeven_point_calculator') }}" class="text-decoration-none">
              <div class="text-center bg-light rounded-lg py-3">
                <img src="{{ url_for('static', filename='images/breakeven-point-calculator-icon.svg') }}" class="svg-icon" />
                <h6 class="block-icon-title mt-3 text-dark">Breakeven Point Calculator</h6>
              </div>
            </a>
          </div>

          <div class="col-md-4 my-3">
            <a href="{{ url_for('currency_converter') }}" class="text-decoration-none">
              <div class="text-center bg-light rounded-lg py-3">
                <img src="{{ url_for('static', filename='images/currency-converter-icon.svg') }}" class="svg-icon" />
                <h6 class="block-icon-title mt-3 text-dark">Currency Converter</h6>
              </div>
            </a>
          </div>

          <div class="col-md-4 my-3">
            <a href="{{ url_for('discount_calculator') }}" class="text-decoration-none">
              <div class="text-center bg-light rounded-lg py-3">
                <img src="{{ url_for('static', filename='images/discount-calculator-icon.svg') }}" class="svg-icon" />
                <h6 class="block-icon-title mt-3 text-dark">Discount Calculator</h6>
              </div>
            </a>
          </div>
          
        </div>

        <div class="row">
          <div class="col-md-4 my-3">
            <a href="{{ url_for('domain_name_availability_checker') }}" class="text-decoration-none">
              <div class="text-center bg-light rounded-lg py-3">            
                <img src="{{ url_for('static', filename='images/domain-name-availability-checker-icon.svg') }}" class="svg-icon" />
                <h6 class="block-icon-title mt-3 text-dark">Domain Name Availability Checker</h6>
              </div>
            </a>
          </div>
          <div class="col-md-4 my-3">
            <a href="{{ url_for('investment_return_calculator') }}" class="text-decoration-none">
              <div class="text-center bg-light rounded-lg py-3">
                <img src="{{ url_for('static', filename='images/investment-return-calculator-icon.svg') }}" class="svg-icon" />
                <h6 class="block-icon-title mt-3 text-dark">Investment Return Calculator</h6>
              </div>
            </a>
          </div>
          <div class="col-md-4 my-3">
            <a href="{{ url_for('profit_margin_calculator') }}" class="text-decoration-none">
              <div class="text-center bg-light rounded-lg py-3">
                <img src="{{ url_for('static', filename='images/profit-margin-calculator-icon.svg') }}" class="svg-icon" />                
                <h6 class="block-icon-title mt-3 text-dark">Profit Margin Calculator</h6>
              </div>
            </a>
          </div>
        </div>

        <div class="row">

          <div class="col-md-4 my-3">
            <a href="{{ url_for('roi_calculator') }}" class="text-decoration-none">
              <div class="text-center bg-light rounded-lg py-3">
                <img src="{{ url_for('static', filename='images/roi-calculator-icon.svg') }}" class="svg-icon" />                
                <h6 class="block-icon-title mt-3 text-dark">ROI Calculator</h6>
              </div>
            </a>
          </div>
          <div class="col-md-4 my-3">
            <a href="{{ url_for('sales_tax_calculator') }}" class="text-decoration-none">
              <div class="text-center bg-light rounded-lg py-3">
                <img src="{{ url_for('static', filename='images/sales-tax-calculator-icon.svg') }}" class="svg-icon" />                                
                <h6 class="block-icon-title mt-3 text-dark">Sales Tax Calculator</h6>
              </div>
            </a>
          </div>
          <div class="col-md-4 my-3">
            <a href="{{ url_for('tip_calculator') }}" class="text-decoration-none">
              <div class="text-center bg-light rounded-lg py-3">
                <img src="{{ url_for('static', filename='images/tip-calculator-icon.svg') }}" class="svg-icon" />                                
                <h6 class="block-icon-title mt-3 text-dark">Tip Calculator</h6>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        {% include 'sidebar.html' %}
      </div>
    </div>
  </div>
{% endblock %}
