<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Primary meta tags -->
    <title>{% block title %}{% endblock %} - Profit Macin</title>
    <meta name="description" content="{% block meta %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <!-- CSS stylesheets -->    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="{% block og_title %}{% endblock %}">
    <meta property="og:description" content="{% block og_meta %}{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{% endblock %}">
    <meta property="og:url" content="{% block og_url %}{% endblock %}">
    <meta property="og:type" content="{% block og_type %}{% endblock %}">
    
    <!-- Other meta tags -->
    <meta name="robots" content="{% block robots %}{% endblock %}">
    <meta name="author" content="{% block author %}{% endblock %}">

  </head>
  <body>

    <header>
      {% include 'header.html' %}
    </header>

    <main>
      <div class="container-fluid">
        <div class="container">
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <footer>
      {% include 'footer.html' %}
    </footer>
  

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <script src="https://kit.fontawesome.com/xxxxxx.js" crossorigin="anonymous"></script> 
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
      
  </body>
</html>
