{% extends 'base.html' %}

{% block meta %}This is meta description for finance tools page{% endblock %}
{% block title %}Finance Tools{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Free Finance Online Tools</h1>
        <hr class="my-4">

        <p>Introducing our "Finance Tools" page, a one-stop destination for all your financial calculations and analysis needs. Browse through our collection of calculators and tools to make informed decisions about your finances.
        </p>

        <div class="row">

          <div class="col-md-4 my-3">
            <a href="#" class="text-decoration-none">
              <div class="text-center bg-light rounded-lg py-3">
                <img src="{{ url_for('static', filename='images/auto-insurance-calculator-icon.svg')}}" class="svg-icon" />
                <h6 class="block-icon-title mt-3 text-dark">Auto Insurance Calculator</h6>
              </div>
            </a>
          </div>
          <div class="col-md-4 my-3">
            <a href="#" class="text-decoration-none">
              <div class="text-center bg-light rounded-lg py-3">
                <img src="{{ url_for('static', filename='images/net-worth-calculator-icon.svg')}}" class="svg-icon" />
                <h6 class="block-icon-title mt-3 text-dark">Net Worth Calculator</h6>
              </div>
            </a>
          </div>
          <div class="col-md-4 my-3">
            <a href="#" class="text-decoration-none">
              <div class="text-center bg-light rounded-lg py-3">
                <img src="{{ url_for('static', filename='images/car-loan-calculator-icon.svg')}}" class="svg-icon" />
                <h6 class="block-icon-title mt-3 text-dark">Car Loan Calculator</h6>
              </div>
            </a>
          </div>
          <div class="col-md-4 my-3">
            <a href="#" class="text-decoration-none">
              <div class="text-center bg-light rounded-lg py-3">
                <img src="{{ url_for('static', filename='images/compound-interest-calculator-icon.svg')}}" class="svg-icon" />
                <h6 class="block-icon-title mt-3 text-dark">Compound Interest Calculator</h6>
              </div>
            </a>
          </div>
          <div class="col-md-4 my-3">
            <a href="#" class="text-decoration-none">
              <div class="text-center bg-light rounded-lg py-3">
                <img src="{{ url_for('static', filename='images/cost-of-living-calculator-icon.svg')}}" class="svg-icon" />
                <h6 class="block-icon-title mt-3 text-dark">Cost of Living Calculator</h6>
              </div>
            </a>
          </div>
          <div class="col-md-4 my-3">
            <a href="#" class="text-decoration-none">
              <div class="text-center bg-light rounded-lg py-3">
                <img src="{{ url_for('static', filename='images/credit-card-interest-calculator-icon.svg')}}" class="svg-icon" />
                <h6 class="block-icon-title mt-3 text-dark">Credit Card Interest Calculator</h6>
              </div>
            </a>
          </div>
          <div class="col-md-4 my-3">
            <a href="#" class="text-decoration-none">
              <div class="text-center bg-light rounded-lg py-3">
                <img src="{{ url_for('static', filename='images/debt-payoff-calculator-icon.svg')}}" class="svg-icon" />
                <h6 class="block-icon-title mt-3 text-dark">Debt Payoff Calculator</h6>
              </div>
            </a>
          </div>
          <div class="col-md-4 my-3">
            <a href="#" class="text-decoration-none">
              <div class="text-center bg-light rounded-lg py-3">
                <img src="{{ url_for('static', filename='images/home-equity-loan-calculator-icon.svg')}}" class="svg-icon" />
                <h6 class="block-icon-title mt-3 text-dark">Home Equity Loan Calculator</h6>
              </div>
            </a>
          </div>
          <div class="col-md-4 my-3">
            <a href="#" class="text-decoration-none">
              <div class="text-center bg-light rounded-lg py-3">
                <img src="{{ url_for('static', filename='images/home-owners-insurance-calculator-icon.svg')}}" class="svg-icon" />
                <h6 class="block-icon-title mt-3 text-dark">Homeowners Insurance Calculator</h6>
              </div>
            </a>
          </div>
          <div class="col-md-4 my-3">
            <a href="#" class="text-decoration-none">
              <div class="text-center bg-light rounded-lg py-3">
                <img src="{{ url_for('static', filename='images/hourly-wage-calculator-icon.svg')}}" class="svg-icon" />
                <h6 class="block-icon-title mt-3 text-dark">Hourly Wage Calculator</h6>
              </div>
            </a>
          </div>
          <div class="col-md-4 my-3">
            <a href="#" class="text-decoration-none">
              <div class="text-center bg-light rounded-lg py-3">
                <img src="{{ url_for('static', filename='images/investment-calculator-icon.svg')}}" class="svg-icon" />
                <h6 class="block-icon-title mt-3 text-dark">Investment Calculator</h6>
              </div>
            </a>
          </div>
          <div class="col-md-4 my-3">
            <a href="#" class="text-decoration-none">
              <div class="text-center bg-light rounded-lg py-3">
                <img src="{{ url_for('static', filename='images/loan-calculator-icon.svg')}}" class="svg-icon" />
                <h6 class="block-icon-title mt-3 text-dark">Loan Calculator</h6>
              </div>
            </a>
          </div>
          <div class="col-md-4 my-3">
            <a href="#" class="text-decoration-none">
              <div class="text-center bg-light rounded-lg py-3">
                <img src="{{ url_for('static', filename='images/mortgage-calculator-icon.svg')}}" class="svg-icon" />
                <h6 class="block-icon-title mt-3 text-dark">Mortgage Calculator</h6>
              </div>
            </a>
          </div>
          <div class="col-md-4 my-3">
            <a href="#" class="text-decoration-none">
              <div class="text-center bg-light rounded-lg py-3">
                <img src="{{ url_for('static', filename='images/payroll-calculator-icon.svg')}}" class="svg-icon" />
                <h6 class="block-icon-title mt-3 text-dark">Payroll Calculator</h6>
              </div>
            </a>
          </div>
          <div class="col-md-4 my-3">
            <a href="#" class="text-decoration-none">
              <div class="text-center bg-light rounded-lg py-3">
                <img src="{{ url_for('static', filename='images/retirement-savings-calculator-icon.svg')}}" class="svg-icon" />
                <h6 class="block-icon-title mt-3 text-dark">Retirement Savings Calculator</h6>
              </div>
            </a>
          </div>
          <div class="col-md-4 my-3">
            <a href="#" class="text-decoration-none">
              <div class="text-center bg-light rounded-lg py-3">
                <img src="{{ url_for('static', filename='images/salary-calculator-icon.svg')}}" class="svg-icon" />
                <h6 class="block-icon-title mt-3 text-dark">Salary Calculator</h6>
              </div>
            </a>
          </div>
          <div class="col-md-4 my-3">
            <a href="#" class="text-decoration-none">
              <div class="text-center bg-light rounded-lg py-3">
                <img src="{{ url_for('static', filename='images/stock-profit-calculator-icon.svg')}}" class="svg-icon" />
                <h6 class="block-icon-title mt-3 text-dark">Stock Profit Calculator</h6>
              </div>
            </a>
          </div>


        </div>
      </div>
      <div class="col-md-4">
        {% include 'sidebar.html' %}
      </div>
    </div>
  </div>
{% endblock %}
