<a class="navbar-brand" href="{{ url_for('index') }}">
    <img src="{{ url_for('static', filename='images/logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="Profit Macin Logo">
    PROFIT <span style="color: #d96704">Macin</span>
</a>
    
<div>
    <a class="footer-link" href="https://www.facebook.com/profitmacin" target="_blank">Facebook</a> ~
    <a class="footer-link" href="https://www.instagram.com/profitmacin" target="_blank">Instagram</a> ~
    <a class="footer-link" href="https://www.twitter.com/profitmacin" target="_blank">Twitter</a> ~
    <a class="footer-link" href="https://www.youtube.com/@profitmacin" target="_blank">YouTube</a>
</div>

<div>Made with ❤️ in Siem Reap ◦ Developed by <a class="footer-link" href="https://kongrei.com">Kongrei Team</a></div>

<hr>
<div class="footer-menu">
    <ul class="list-unstyled d-inline-block mb-0">
      <li class="d-inline-block mr-3">
        <a class="footer-link" href="/about">About Us</a>
      </li>
      <li class="d-inline-block mr-3">
        <span class="separator">|</span>
      </li>
      <li class="d-inline-block mr-3">
        <a class="footer-link" href="/contact">Contact</a>
      </li>
      <li class="d-inline-block mr-3">
        <span class="separator">|</span>
      </li>
      <li class="d-inline-block mr-3">
        <a class="footer-link" href="/disclaimer">Disclaimer</a>
      </li>
      <li class="d-inline-block mr-3">
        <span class="separator">|</span>
      </li>
      <li class="d-inline-block mr-3">
        <a class="footer-link" href="/privacy-policy">Privacy Policy</a>
      </li>
      <li class="d-inline-block mr-3">
        <span class="separator">|</span>
      </li>
      <li class="d-inline-block">
        <a class="footer-link" href="/terms">Terms of Use</a>
      </li>
    </ul>
  </div>
<hr>
  
<div>&copy; 2023 <a class="footer-link" href="{{ url_for('index') }}">PROFITMacin.com</a>. All Rights Reserved.</div>

  