{% extends 'base.html' %}

{% block meta %}This is meta description for tool collections page{% endblock %}
{% block title %}Tool Collections - Profit Macin{% endblock %}

{% block content %}

<div class="container">
  <h1 class="text-center">Tool Collections</h1>
  <hr class="my-4">

    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm bg-light no-title-margin">
          <div class="card-body">
            <h2 class="card-title mb-4">Finance</h2>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="#" class="list-group-item-action">Auto Insurance Calculator</a></li>
              <li class="list-group-item"><a href="#" class="list-group-item-action">Car Loan Calculator</a></li>
              <li class="list-group-item"><a href="#" class="list-group-item-action">Compound Interest Calculator</a></li>
              <li class="list-group-item"><a href="#" class="list-group-item-action">Cost of Living Calculator</a></li>
              <li class="list-group-item"><a href="#" class="list-group-item-action">Credit Card Interest Calculator</a></li>
              <li class="list-group-item"><a href="#" class="list-group-item-action">Debt Payoff Calculator</a></li>
              <li class="list-group-item"><a href="#" class="list-group-item-action">Home Equity Loan Calculator</a></li>
              <li class="list-group-item"><a href="#" class="list-group-item-action">Homeowners Insurance Calculator</a></li>
              <li class="list-group-item"><a href="#" class="list-group-item-action">Hourly Wage Calculator</a></li>
              <li class="list-group-item"><a href="#" class="list-group-item-action">Investment Calculator</a></li>
              <li class="list-group-item"><a href="#" class="list-group-item-action">Loan Calculator</a></li>
              <li class="list-group-item"><a href="#" class="list-group-item-action">Mortgage Calculator</a></li>
              <li class="list-group-item"><a href="#" class="list-group-item-action">Net Worth Calculator</a></li>
              <li class="list-group-item"><a href="#" class="list-group-item-action">Payroll Calculator</a></li>
              <li class="list-group-item"><a href="#" class="list-group-item-action">Retirement Savings Calculator</a></li>
              <li class="list-group-item"><a href="#" class="list-group-item-action">Salary Calculator</a></li>
              <li class="list-group-item"><a href="#" class="list-group-item-action">Stock Profit Calculator</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm bg-light no-title-margin">
          <div class="card-body">
            <h2 class="card-title mb-4">Business</h2>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="#" class="list-group-item-action">Breakeven Point Calculator</a></li>
              <li class="list-group-item"><a href="#" class="list-group-item-action">Currency Converter</a></li>
              <li class="list-group-item"><a href="#" class="list-group-item-action">Discount Calculator</a></li>
              <li class="list-group-item"><a href="#" class="list-group-item-action">Domain Name Availability Checker</a></li>
              <li class="list-group-item"><a href="#" class="list-group-item-action">Investment Return Calculator</a></li>
              <li class="list-group-item"><a href="/profit-margin-calculator" class="list-group-item-action">Profit Margin Calculator</a></li>
              <li class="list-group-item"><a href="#" class="list-group-item-action">ROI Calculator</a></li>
              <li class="list-group-item"><a href="#" class="list-group-item-action">Sales Tax Calculator</a></li>
              <li class="list-group-item"><a href="#" class="list-group-item-action">Tip Calculator</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card shadow-sm bg-light no-title-margin">
          <div class="card-body">
            <h2 class="card-title mb-4">Others</h2>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="#" class="list-group-item-action">QR Code Generator</a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    
    
  </div>
</div>








{% endblock %}
